version: "3"
services:

  web:
    image: ghcr.io/geerteltink/nginx
    container_name: PROJECT_ID-web
    ports:
      - "80:80"
    volumes:
      - ./public:/app/public:ro,cached

  php:
    image: ghcr.io/geerteltink/php:8.2-fpm
    container_name: PROJECT_ID-php
    volumes:
      - .:/app:ro,cached
      - ./data:/app/data:rw,delegated

  db:
    image: ghcr.io/geerteltink/mysql
    container_name: PROJECT_ID-db
    ports:
      - "3306:3306"
    environment:
      - MYSQL_DATABASE=docker
      - MYSQL_PASSWORD=docker
      - MYSQL_ROOT_PASSWORD=docker
      - MYSQL_USER=docker
    #volumes:
    #  - ./data/mysql:/var/lib/mysql:rw,delegated
    #  - ./resources/docker-initdb:/docker-entrypoint-initdb.d:ro,cached

  redis:
    image: redis:6-alpine
    container_name: PROJECT_ID-redis

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: PROJECT_ID-redis-cmd
    environment:
      - REDIS_HOSTS=local:redis
      - HTTP_USER=docker
      - HTTP_PASSWORD=docker
    ports:
      - 8081:8081
    depends_on:
      - redis

  # Access mailhog at http://localhost:8025/
  mailhog:
    image: mailhog/mailhog
    container_name: PROJECT_ID-mailhog
    ports:
      - "8025:8025"
