[client]
default-character-set = utf8mb4
socket = /var/run/mysqld/mysqld.sock

[mysql]
default-character-set = utf8mb4
socket = /var/run/mysqld/mysqld.sock

[mysqld]
user=root

bind-address = 0.0.0.0
socket = /var/run/mysqld/mysqld.sock

skip-name-resolve
skip-character-set-client-handshake
init-connect            ='SET NAMES utf8mb4'
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
innodb_file_per_table   = 1
default_authentication_plugin = mysql_native_password

general_log         = 1
general_log_file    = /var/log/mysql-query.log
log_error           = /var/log/mysql-error.log
long_query_time     = 1
slow_query_log      = 1
slow_query_log_file = /var/log/mysql-slow.log

# Disabled: ONLY_FULL_GROUP_BY
sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
