[client]
default-character-set = utf8mb4
socket=/var/run/mysqld/mysqld.sock

[mysql]
default-character-set = utf8mb4
socket=/var/run/mysqld/mysqld.sock

[mysqld]
user=root

bind-address = 0.0.0.0
socket=/var/run/mysqld/mysqld.sock

skip-name-resolve
init-connect='SET NAMES utf8mb4'
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
skip-character-set-client-handshake

general_log_file=/dev/stdout
log_error=/dev/stderr

innodb_file_per_table=1

# Disabled: ONLY_FULL_GROUP_BY
sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
