name: build-php-8-2

on:
  workflow_dispatch:
  push:
    paths:
      - 'php/**'
    branches: main
  schedule:
    - cron: "* 22 * * 4"

jobs:
  php_8_2_cli:
    name: "php:8.2-cli"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: ./php
          file: ./php/8.2-cli.dockerfile
          platforms: linux/amd64
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/php:8.2-cli
          cache-from: type=gha,scope=php_8_2_cli
          cache-to: type=gha,mode=max,scope=php_8_2_cli

  php_8_2_fpm:
    name: "php:8.2-fpm"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: ./php
          file: ./php/8.2-fpm.dockerfile
          platforms: linux/amd64
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/php:8.2-fpm
          cache-from: type=gha,scope=php_8_2_fpm
          cache-to: type=gha,mode=max,scope=php_8_2_fpm
